@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');
@import "./variaveis.css";
@import './styles/reset.css';
@import './styles/header.css';
@import './styles/mainpage.css';
@import './styles/footer.css';

body {
    max-width: 1900px;
    margin: 0 auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border-width: 0;
    white-space: nowrap;
}
