:root {
    --vermelho: #8E2424;
    --vermelho-hover: #7d2222;;
    --cor-de-fundo: #FFFFFF;
    --preto: #101828;
    --cinza: #667085;
    --preto-logo: #3A404E;
    --cor-de-fundo-secundaria: rgba(196, 25, 25, 0.03);
    --cor-borda-vaga-container: #EAECF0;
    --cor-de-fundo-footer: #F9FAFB;
}